<%- include("./../partials/header.ejs") %>

<article>
    <main class="main">
    <h1>Ticketing system</h1>

    
</article>

<article>
    
<div class="review">
    <h1>Welcome to the Ticketing System</h1>
    
</div>
</article>
<article>

<div class="footer">
    <div class="watermark">
        © Totally legit company, All Rights Reserved
    </div>
</footer>

</article>
<%- include("./../partials/footer.ejs") %>