<%- include("./../partials/header_no.ejs") %>

<article>
    <main class="main">
    <h1>No account found!</h1>

    
</article>

<article>
    
<div class="review">
    
    <h1>Contact IT-department to create your account.</h1>
</div>
</article>
<article>

<div class="footer">
    <div class="watermark">
        © Totally legit company, All Rights Reserved
    </div>
</footer>

</article>
<%- include("./../partials/footer.ejs") %>